body {
    margin: 0;
    font-family: "Amazon Ember", "HelveticaNeue", "Helvetica Neue", Roboto, "Roboto-Regular", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
  }
  
  .bedrock-demo {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  